/* GENERAL STYLING */

* {
  box-sizing: border-box;
  color: #dbdfe5;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  background: #262d4b;
  height: 10vh;
  padding-top: 1%;
  text-align: center;
}

/* MAIN DISPLAY */

main {
  background: #090c2d;
  display: flex;
  height: 90vh;
}

/* LEFT SECTION */

.section-left-side {
  background: #262d4b;
  width: 66.6%;
}

/* RIGHT SECTION */

.section-right-side {
  border-left: 1px solid #dbdfe5;
  width: 33.3%;
}
