/* GENERAL STYLING */

* {
  box-sizing: border-box;
  color: #dbdfe5;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  background: #262d4b;
  height: 10vh;
  padding-top: 1%;
  text-align: center;
}

/* MAIN DISPLAY */

/* RIGHT SECTION */

/* LEFT SECTION */
